* {
	box-sizing: border-box;
}

main {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Ubuntu', sans-serif;
	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		background: rgba(199, 236, 238,0.3);
		height: 100%;
		min-height: 150vh;
		text-align: center;
		header {
			font-size: 2rem;
			color: #fff;
			margin: 0;
			padding: 20px;
			font-weight: 900;
		}
		.box {
			h2 {
				padding: 0 20px;
				font-size: 1.6rem;
				color: #fff;
				font-weight: 600;
			}
			h3 {
				font-size: 1.3rem;
				color: #130f40;
				font-weight: 500;
			}
		}
		.btn-icon {
			margin: 0 auto;
			.trigger {
				border: 3px solid #fff;
				min-width: 150px;
				min-height: 50px;
				line-height: 50px;
				background: none;
				border-radius: 10px;
				font-size: 1.2rem;
				font-weight: 500;
				color: #fff;
				padding-right: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					background: #fff;
					color: #130f40;
				}
				&:active {
					background: #fff;
					color: #130f40;
					opacity: 0.7;
				}
			}
			a {
				color: #fff;
				font-size: 1.2rem;
				text-decoration: none;
				padding-left: 10px;
				transition: 0.3s;
				&:hover {
					color: #130f40;
				}
				&:active {
					color: #130f40;	
				}
			}
		}
	}
}